<div class="container">
    <% if(success && success.length>0) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong style="color: red">Success! <%= success %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="this.parentElement.style.display = 'none'" style="background-color: red;">
          <span aria-hidden="true">x</span>
        </button>
      </div>
    <% } %> 
    <% if(error && error.length>0) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong style="color: red"><%= error %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="this.parentElement.style.display = 'none'" style="background-color: red;">
          <span aria-hidden="true">x</span>
        </button>
      </div>
    <% } %>
</div>