<link rel="stylesheet" href="/css/styles3.css">
<form action="/addbook" method="POST">
    <div class="parent">
        <h1>Add New Book</h1>
        <hr>
        <div class="kid">
            <label><b>Book Name</b></label>
            <input type="text" name="bookName" required>
        </div>
        <div class="kid">
            <label><b>Author</b></label>
            <input type="text" name="author" required>
        </div>
        <div class="kid">
            <label><b>Edition</b></label>
            <input type="text" name="author">
        </div>
        <div class="kid">
            <label><b>Publisher</b></label>
            <input type="text" name="publisher">
        </div>
        <div class="kid">
            <button onclick=location.href="/home">Cancel</button>
            <button type="submit">Add!</button>
        </div>
    </div>
</form>