<link rel="stylesheet" href="/css/styles.css">
<% include partials/header %>

<form method="POST" action="/register">
    <div class="parent">
        <h1>Sign Up</h1>
        <hr>
        <div class="kid">
            <label><b>Full Name</b></label>
            <input type="text" name="name" required>
        </div>
        <div class="kid">
            <label><b>ID Number</b></label>
            <input type="text" name="id">
        </div>
        <div class="kid">
            <label><b>Username</b></label>
            <input type="text" name="username" required>
        </div>
        <div class="kid">
            <label><b>Password</b></label>
            <input type="password" name="password" required>
        </div>
        <div class="kid">
            <button onclick=location.href="/">Log In</button>
            <button type="submit">Create Account</button>
        </div>
    </div>
</form>