<form action="/returnBook" method="POST">
    <input type="text" name="bookName" placeholder="Book Name" required>
    <input type="text" name="author" placeholder="Author">
    <input type="text" name="edition"  placeholder="Edition">
    <input type="text" name="publisher" placeholder="Publisher">

    <button type="submit">Submit!</button>
</form>